import * as React from 'react'

export interface <%= className %>Props {}

const <%= className %>: React.FC<<%= className %>Props> = ({}) => {
  return <>{/* Implement UI here */}</>
}

export { <%= className %> }